/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  height: 100%;
  position: relative;
  overflow-y: hidden;
  background: #fafafa;
}
