/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;

  height: 100dvh;
  box-shadow: 0px 44px 84px 6px #d8d9db;
  display: flex;
  overflow: hidden;
  position: relative;
  overflow-y: auto;
}

#root {
  flex: 1;
}

::-webkit-scrollbar {
  width: 6px;
  height: 2px;
}
::-webkit-scrollbar * {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #f0f5fc !important;
  border-radius: 5px;
}
